table {
  width: 100%;
  box-shadow: 0 0 4px 0px #0000002b;
  border-spacing: 0;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  top: 20px;
  left: 8px;
  position: relative;
  font-family: "SF Pro Display", sans-serif;
}
table * {
  position: relative;
}
table td,
table th {
  padding: 10px;
  /* padding-left: 62px; */
  font-size: 13px;
}

table th {
  border-right: 1px solid #ddd;
}
table thead tr {
  height: 10px;
}
table tbody tr {
  height: 40px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}

table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}
